<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="It's mini editable, customizable playground for web">
  <meta name="keywords" content="embed, playground, library, opensource, open, source">
  <meta name="author" content="Nedim Arabacı (http://ned.im)">

  <title>minibed</title>

  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" href="vendor/bootstrap.min.css"/>
  <link rel="stylesheet" href="vendor/ps-icon-pack.css"/>
  <link rel="stylesheet" href="vendor/google-code-prettify/prettify.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.min.css"/>
  <link rel="stylesheet" href="vendor/minibed/minibed.css"/>
  <link rel="stylesheet" href="fonts/stylesheet.css"/>
  <link rel="stylesheet" href="vendor/custom.css"/>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/codemirror.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/javascript/javascript.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/jsx/jsx.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/xml/xml.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/mode/css/css.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/addon/scroll/simplescrollbars.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/addon/edit/matchbrackets.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/addon/edit/closetag.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.2/addon/edit/closebrackets.min.js"></script>


</head>
<body>

<div class="wrapper">

  <div class="container">

    <div class="">
    <div class="col-md-12">

      <a href="/minibed/">
        <img src="img/projects/minibed-logo.svg" alt="" class="left-logo">
      </a>

      <div class="project-info mt10 text-muted small">
        Hi! this is <strong>minibed</strong>! <br> It's mini, editable, customizable playground for web.
      </div>

      <!--<p class="text-center">-->
      <!--<img alt="GitHub release" src="https://img.shields.io/github/release/needim/minibed.svg">-->
      <!--<img src="https://img.shields.io/bower/v/minibed.svg" alt="Bower version" />-->
      <!--<img src="https://img.shields.io/npm/v/minibed.svg" alt="npm version" />-->
      <!--<img src="https://img.shields.io/packagist/v/needim/minibed.svg" alt="Packagist version" />-->
      <!--<br>-->
      <!--<img src="https://img.shields.io/david/dev/needim/minibed.svg" alt="devDependency Status" />-->
      <!--<img src="https://img.shields.io/npm/dm/minibed.svg?label=npm%20downloads" alt="npm" />-->
      <!--<img src="https://img.shields.io/github/contributors/needim/minibed.svg" alt="Contributors" />-->
      <!--</p>-->

    </div>

    <div class="col-md-12">

      <div class="right-buttons">
        <div class="project-links mt30 text-center">
          <iframe
            src="http://ned.im/github-buttons/ghbtn.html?user=needim&amp;repo=minibed&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="125px" height="35px"></iframe>
          <iframe
            src="http://ned.im/github-buttons/ghbtn.html?user=needim&amp;repo=minibed&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="115px" height="35px"></iframe>
          <iframe src="http://ned.im/github-buttons/ghbtn.html?user=needim&amp;type=follow&amp;count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="35px"></iframe>
          <iframe
            src="http://ned.im/github-buttons/ghbtn.html?user=needim&amp;repo=minibed&amp;type=download&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="35px"></iframe>
          <div class="sharer-btn text-center"></div>
        </div>

      </div>

      <div class="right-content mt10">
